doctype html
html
    head
        title= 'Blog | Sumit Maitra'
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/content/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/content/font-awesome-4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet' href='/content/Site.css')
        link(rel='stylesheet' href='/content/prism/prism.css')
        link(rel='icon' href="/images/favicon.png" type="image/png")
        script(type="text/javascript" src="/libs/prism/prism.js")
        script(type="text/javascript" src="/libs/jquery/jquery-3.6.0.min.js")
        script(type="text/javascript" src="/libs/bootstrap/bootstrap.min.js")
    body
        .navbar.navbar-dark.bg-dark.fixed-top
            .container-fluid
                .a.navbar-brand(href="#")
                .navbar-header
                    button(type="button" class="navbar-toggler" data-bs-toggle="offcanvas" 
                            data-bs-target="#navbarBlog" aria-controls="navbarBlog")
                        span.navbar-toggler-icon
                .offcanvas.offcanvas-end.text-bg-secondary.p-3(id="navbarBlog")
                    .offcanvas-header
                        .button(type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close")
                    .offcanvas-body
                        ul(class="navbar-nav justify-content-end flex-grow-1 pe-3")
                            li.nav-item #[a(href="/" class="nav-link") Home]
                            li.active.nav-item #[a(href="/blog" class="nav-link") Blog]
                            li.nav-item #[a(href="http://github.com/piofthings/web" class="nav-link") Source]

        .body-content
            .container-flex.text-bg-dark
                .container
                    .d-flex.justify-content-center
                        h1.piot-h1 The Lazy Blogger
                .navbar.navbar-dark.bg-dark 
                    .container
                        .navbar-collapse
                            ul(class="navbar-nav")
                                li.nav-item #[a(href="/blog", class="nav-link") All]


            .container
                .row.mt-3
                    .col-sm-8
                        .d-grid.gap-3
                            block content
                    .col-sm-4.hidden-xs
                        include includes/indexSidebar
