doctype xml
urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9")
  url
    - var homeUrl = 'https://piofthings.net'
      loc= homeUrl
  url
    - var blogUrl = 'https://piofthings.net/blog'
      loc= blogUrl
  each post in posts
    - var fullUrl = 'https://piofthings.net' + post.url
      url
        loc= fullUrl
