doctype xml
urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9")
  url
    - var homeUrl = 'https://sumitmaitra.com'
      loc= homeUrl
  url
    - var blogUrl = 'https://sumitmaitra.com/blog'
      loc= blogUrl
  each post in posts
    - var fullUrl = 'https://sumitmaitra.com' + post.url
      url
        loc= fullUrl
