.d-grid.gap-3
    //- .card.invisible
    //-     .panel-heading
    //-         .panel-title Categories
    //-     .panel-body
    //-         .form-input
    //-             select.form-control
    //-                 each cat in getCategories()
    //-                     option #[a(href=categoryURL(cat)) #{cat}]

    .card
        .card-header
            if post
                .panel-title Share
            else
                .panel-title Subscribe | Share

        .card-body
            if tag
                - var tagg = tag;
                a.h2(href='/rss/tag/'+tag class="card-link")
                    i.float-left(class="fa fa-rss" aria-hidden="true")
                a.h2(href='mailto:?subject=Sumit Maitra : ' + tag + '&body=Sumit Maitra - Blog : https://sumitmaitra.com' + tagURL(tag) class="card-link")
                    i(class="fa fa-envelope" aria-hidden="true")
            else
                if post
                    a.h2(class="card-link" href='mailto:?subject=Sumit Maitra'+ '&body=Sumit Maitra - Blog : https://sumitmaitra.com' + post.url)
                        i(class="fa fa-envelope" aria-hidden="true")
                else
                    a.h2(class="card-link" href='/rss')
                        i.float-left(class="fa fa-rss" aria-hidden="true")
                    a.h2(class="card-link" href='mailto:?subject=Sumit Maitra'+ '&body=Sumit Maitra - Blog : https://sumitmaitra.com/blog')
                        i(class="fa fa-envelope" aria-hidden="true")

    .card.panel-default
        .card-header
            .panel-title Tags
        .card-body
            each tag in getTags()
                a(class="card-link" href=tagURL(tag)) #{tag}
