- var pageCount = getPageCount();
if pageCount > 1
    .nav
        ul.pagination
            - for (var x = 1; x <= pageCount; x++)
                if page == x
                    li(class="page-item active" aria-current="page")
                        a(class="page-link" href=pageURL(x)) #{x}
                else
                    li
                        a(class="page-link" href=pageURL(x)) #{x}
